body {
  background-color: rgb(83, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;
}

.todo-form input {
  width: 70%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid blue;
  border-radius: 5px;
}

.todo-form button {
  font-size: 20px;
  border: 2px solid blue;
  width: 20%;
  height: 80px;
  padding: 10px;
  background-color: blue;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.todo-list li {
  background-color: aliceblue;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
 .todo-list li:hover {
  background-color: rgb(83, 224, 224); 
} 
.todo-list button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
